<div id="ajax-view-{{ view.id }}" class="kbde-ajax-view">
    {% include ajax_content_template_name %}
</div>


<script>
"use strict";
$(function(){


window.ajax_views = window.ajax_views || new function(){
    this.views = {}

    this.add_view = function(ajax_view){
        this.views[ajax_view.get_id()] = ajax_view
    }

    this.get_view_from_element = function(element){
        var $element = $(element)

        if (!$element.hasClass("kbde-ajax-view")){
            $element = $($element.parents(".kbde-ajax-view")[0])
        }

        return this.views[$element.attr("id")]
    }
}


window.ajax_views.AjaxView = window.ajax_views.AjaxView || function(element, action_url, handle_post){
    var that = this

    this.action_url = action_url
    this.handle_post = handle_post
    this.$element = $(element)

    this.form_submit_complete = null

    this.head_poll_enabled = null
    this.load_poll_enabled = null

    this.form_submit = function(e){
        e.preventDefault()

        var $form = $(this)

        var callback = function(data, text_status, jq_xhr){
            
            if (that.form_submit_complete){
                that.form_submit_complete(data, text_status, jq_xhr)
            }

            that.handle_response(data, text_status, jq_xhr)
        }

        that.post($form.serialize(), callback)
    }

    this.head = function(data, complete){
        $.ajax({
            "method": "HEAD",
            "url": this.action_url,
            "data": data,
            "complete": complete,
        })
    }

    this.head_poll = function(poll_interval, data, complete){
        // Continually poll the head method

        var poll = function(){
            that.head(data, complete)

            if (that.head_poll_enabled){
                setTimeout(poll, poll_interval)
            }
        }

        that.head_poll_enabled = true
        poll()
    }

    this.stop_head_poll = function(){
        that.head_poll_enabled = false
    }

    this.load = function(data, complete){
        // https://api.jquery.com/load/

        var callback = function(data, text_status, jq_xhr){

            if (complete){
                complete(data, text_status, jq_xhr)
            }

            that.handle_response(data, text_status, jq_xhr)
        }

        $.get(this.action_url, data, callback)
    }

    this.load_poll = function(poll_interval, data, complete){
        // Continually poll the load method

        var poll = function(){
            that.load(data, complete)

            if (that.load_poll_enabled){
                setTimeout(poll, poll_interval)
            }
        }

        that.load_poll_enabled = true
        poll()
    }

    this.stop_load_poll = function(){
        that.load_poll_enabled = false
    }

    this.post = function(data, callback){
        // https://api.jquery.com/jQuery.post/
        $.post(this.action_url, data, callback)
    }

    this.handle_response = function(data, text_status, jq_xhr){
        var action_url = jq_xhr.getResponseHeader("x-action-url")

        if (!action_url){
            window.location.reload()
            return null
        }

        if (action_url !== this.action_url){
            window.location.reload()
            return null
        }

        that.$element.html(data)

        if (window.kbde && window.kbde.novalidate_forms){
            kbde.novalidate_forms()
        }

        that.setup()
    }

    this.setup = function(){

        if (this.handle_post){
            this.$forms = this.$element.find("form")
            this.$forms.submit(this.form_submit)
        }
    }

    this.get_id = function(data){
        return this.$element.attr("id")
    }

    this.setup()
}


var ajax_view = new window.ajax_views.AjaxView("#ajax-view-{{ view.id }}", "{{ action_url }}", {% if handle_post %}true{% else %}false{% endif %})
window.ajax_views.add_view(ajax_view)


})
</script>
