<div id="ajax-view-{{ view.id }}" class="kbde-ajax-view">
    {% include ajax_content_template_name %}
</div>


<script>
"use strict";


var AjaxView = function(element, action_url, handle_post){
    var that = this

    this.action_url = action_url
    this.handle_post = handle_post
    this.$element = $(element)

    this.head_id = null
    this.head_poll_id = null
    this.head_poll_interval = null
    this.head_poll_data = null

    this.load_id = null
    this.load_poll_id = null
    this.load_poll_interval = null
    this.load_poll_data = null

    this.post_id = null

    this.head_poll = function(poll_interval, data){

        if (
            that.head_poll_id
            && poll_interval == that.head_poll_interval
            && data == that.head_poll_data
        ){
            return null
        }

        if (!that.head_poll_id){
            that.$element.on(
                "head_complete",
                function(e, response_data, text_status, jq_xhr){
                    setTimeout(poll, poll_interval)
                }
            )
        }

        var head_poll_id = Math.random()
        that.head_poll_id = head_poll_id
        that.head_poll_interval = poll_interval
        that.head_poll_data = data

        var poll = function(){
            
            if (that.head_poll_id == head_poll_id){
                that.head(data)
            }
        }

        poll()
    }

    this.stop_head_poll = function(){
        that.head_poll_id = null
    }

    this.load_poll = function(poll_interval, data){

        if (
            that.load_poll_id
            && poll_interval == that.load_poll_interval
            && data == that.load_poll_data
        ){
            return null
        }

        if (!that.load_poll_id){
            that.$element.on(
                "load_complete",
                function(e, response_data, text_status, jq_xhr){
                    setTimeout(poll, poll_interval)
                }
            )
        }

        var load_poll_id = Math.random()
        that.load_poll_id = load_poll_id
        that.load_poll_interval = poll_interval
        that.load_poll_data = data

        var poll = function(){
            
            if (that.load_poll_id == load_poll_id){
                that.load(data)
            }
        }

        poll()
    }

    this.stop_load_poll = function(){
        that.load_poll_id = null
    }

    this.form_submit = function(e){
        e.preventDefault()

        var $form = $(this)
        var form_data = new FormData($form[0])

        that.post(form_data)
    }

    this.head = function(data){

        // Check to see if the element is still in the dom
        if (!that.check_element_exists()){
            // Do nothing if not found
            return null
        }

        var head_id = Math.random()
        that.head_id = head_id

        var callback = function(data, text_status, jq_xhr){
            if (that.head_id != head_id){
                return null
            }

            that.$element.trigger("head_complete", [data, text_status, jq_xhr])
        }

        $.ajax({
            "method": "HEAD",
            "url": this.action_url,
            "data": data,
            "success": callback,
        })
    }

    this.load = function(data){
        // https://api.jquery.com/load/

        // Check to see if the element is still in the dom
        if (!that.check_element_exists()){
            // Do nothing if not found
            return null
        }

        var load_id = Math.random()
        that.load_id = load_id

        var callback = function(data, text_status, jq_xhr){

            if (that.load_id != load_id){
                return null
            }

            that.handle_response(data, text_status, jq_xhr)
            that.$element.trigger("load_complete", [data, text_status, jq_xhr])
        }

        $.get(that.action_url, data, callback)
    }

    this.post = function(data){
        // https://api.jquery.com/jQuery.post/

        // Check to see if the element is still in the dom
        if (!that.check_element_exists()){
            // Do nothing if not found
            return null
        }

        var post_id = Math.random()
        that.post_id = post_id

        var callback = function(data, text_status, jq_xhr){
            
            if (that.post_id != post_id){
                return null
            }

            that.handle_response(data, text_status, jq_xhr)
            that.$element.trigger("post_complete", [data, text_status, jq_xhr])
        }

        $.ajax({
            "method": "POST",
            "url": this.action_url,
            "data": data,
            "processData": false,
            "contentType": false,
            "success": callback
        })
    }

    this.handle_response = function(data, text_status, jq_xhr){
        var action_url = jq_xhr.getResponseHeader("x-action-url")

        if (!action_url){
            window.location.reload()
            return null
        }

        if (action_url !== this.action_url){
            window.location.reload()
            return null
        }

        that.$element.html(data)

        if (window.kbde && window.kbde.novalidate_forms){
            kbde.novalidate_forms()
        }

        that.setup()
    }

    this.setup = function(){

        if (that.handle_post){
            that.$forms = that.$element.find("form")
            that.$forms.submit(that.form_submit)
        }
    }

    this.check_element_exists = function(){
        var result = $.contains(document, that.$element[0])

        // If the element no longer exists, remove it from ajax_views
        if (!result){
            delete window.ajax_views.views[that.get_id()]
        }

        return result
    }

    this.get_id = function(data){
        return that.$element.attr("id")
    }

    this.setup()
}


var AjaxViews = function(){
    var that = this

    this.views = {}

    this.add_view = function(ajax_view){
        this.views[ajax_view.get_id()] = ajax_view
    }

    this.get_view_from_element = function(element){
        var $element = $(element)

        if (!$element.hasClass("kbde-ajax-view")){
            $element = $($element.parents(".kbde-ajax-view")[0])
        }

        return this.views[$element.attr("id")]
    }
}


window.ajax_views = window.ajax_views || new AjaxViews()
</script>


<script>
"use strict"


window.ajax_views.add_view(
    new window.AjaxView(
        "#ajax-view-{{ view.id }}",
        "{{ action_url }}",
        {% if handle_post %}true{% else %}false{% endif %}
    )
)


</script>
