<div id="ajax-view-{{ view.id }}" class="kbde-ajax-view">
    {% include ajax_template_name %}
</div>


<script>
"use strict";
(function(){


var AjaxView = function(element){
    var that = this

    this.$element = $(element)

    this.load = function(data, complete){
        // https://api.jquery.com/load/

        var callback = function(data, text_status, jq_xhr){
            if (complete){
                complete(data, text_status, jq_xhr)
            }

            that.setup()
        }

        this.$element.load("{{ action_url }}", data, callback)
    }

    this.post = function(data, callback){
        // https://api.jquery.com/jQuery.post/

        $.post("{{ action_url }}", data, callback)
    }

    this.setup = function(){
        this.$forms = this.$element.find("form")
        this.$forms.submit(this.form_submit)
    }

    this.form_submit = function(e){
        e.preventDefault()

        var $form = $(this)

        var callback = function(data, text_status, jq_xhr){
            // Place the result back into $element
            that.$element.html(data)
            that.setup()
        }

        that.post($form.serialize(), callback)
    }

    this.get_id = function(data){
        return this.$element.attr("id")
    }

    this.setup()
}


var AjaxViews = function(){
    
    this.views = {}

    this.add_view = function(ajax_view){
        this.views[ajax_view.get_id()] = ajax_view
    }

    this.get_view_from_element = function(element){
        var $element = $(element)

        if (!$element.hasClass("kbde-ajax-view")){
            $element = $($element.parents(".kbde-ajax-view")[0])
        }

        return this.views[$element.attr("id")]
    }
}


var ajax_view = new AjaxView("#ajax-view-{{ view.id }}")


var ajax_views = window.ajax_views || new AjaxViews()
ajax_views.add_view(ajax_view)


window.ajax_views = ajax_views


})()
</script>
