{% extends "kbde/django/views/ListView.html" %}
{% load render_partial %}


{% block list_container %}
    <div class="parital-catalog">

        <a href="{{ request.path }}"><h1 class="heading">Partial Catalog</h1></a>

        {{ block.super }}

    </div>
{% endblock %}


{% block list_item %}
    <hr>

    <div class="partial-container">
        <a href="?class_path={{ object }}"><h2 class="module-name">{{ object }}</h2></a>
        {% render_partial object render_partial_catalog=True %}
    </div>
{% endblock %}
