[submodule "kbde/django/coreui/static/coreui"]
	path = kbde/django/coreui/static/coreui
	url = https://github.com/coreui/coreui.git
[submodule "kbde/django/bootstrap/static/bootstrap"]
	path = kbde/django/bootstrap/static/bootstrap
	url = https://github.com/twbs/bootstrap.git
