{% extends "kbde/django/views/Form.html" %}


{% block form %}

    {% if not form.errors %}

        <div class="form-error-message non-field-error-message">
            {{ view.get_confirm_text }}
        </div>

    {% endif %}

    {{ block.super }}

{% endblock %}

{% block form_buttons %}

<script>
$(function(){

function check_auth(){
    $("form").submit()
}

{% if form.errors %}
    setTimeout(check_auth, {{ view.get_check_auth_milliseconds }})
{% else %}
    check_auth()
{% endif %}

})
</script>

{% endblock %}
