{% extends "../ListView.html" %}


{% block object_list %}
    <div class="table-container">
        {% block table_container %}
        
            {% if not rows %}
                <div class="table-empty-container">
                    {% block table_empty_container %}
                        {% include table_empty_template_name %}
                    {% endblock %}
                </div>
            {% else %}
                <table class="table">
                    {% block table %}
                        <thead>
                            {% include table_head_template_name %}
                        </thead>

                        <tbody>
                            {% for row in rows %}
                                <tr>
                                    {% include table_row_template_name %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endblock %}
                </table>
            {% endif %}

        {% endblock %}
    </div>
{% endblock %}
