{%load static%}

<!DOCTYPE html>

<!-- kbuilds, LLC -->

<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%if title%}
    <title>{{title}}</title>
  {%endif%}

  {%if icon%}
      <link rel="icon" href="{%if 'https://' in icon%}{{icon}}{%else%}{%static icon%}{%endif%}">
  {%endif%}

  {%for css in css_list%}
    <link href="{%if 'https://' in css%}{{css}}{%else%}{%static css%}{%endif%}" rel="stylesheet">
  {%endfor%}

  <!-- js -->
  {%for js in js_list%}
    <script src="{%if 'https://' in js%}{{js}}{%else%}{%static js%}{%endif%}"></script>
  {%endfor%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.min.js"></script>

</head>

<body>

{%block content%}
{%endblock%}

{%include 'kbde/timezone.html'%}
{%include 'kbde/device_id.html'%}

{%include 'kbde/analytics.html'%}

</body>
</html>
