{%load static%}

<!DOCTYPE html>

<html>

<head>

    {%block page_meta%}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {%include 'kbde/open_graph.html'%}

    {%endblock page_meta%}

    <title>{%block page_title%}{%endblock%}</title>

    <link rel="icon" href="{%block page_icon_url%}{%endblock%}">

    {%block page_css%}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    {%endblock%}

    {%block page_head_scripts%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.js"></script>
    {%endblock%}

</head>

<body style="visibility:hidden;">

    {%block page%}
    {%endblock%}

    {%block page_body_scripts%}
        {%include 'kbde/timezone.html'%}
        {%include 'kbde/device_id.html'%}
        {%include 'kbde/validate_forms.html'%}
    {%endblock%}

    {%include 'kbde/fouc.html'%}
    {%include 'kbde/analytics.html'%}

</body>

</html>
