<div class="install-button">
    {% if is_auto_install_browser %}

        {% block button %}
            <button class="pwa-install-button">{{ install_button_text }}</button>
        {% endblock %}

    {% else %}

        {% block no_auto_install %}
            <div class="no-auto-install-message">{{ no_auto_install_message }}</div>
        {% endblock %}

    {% endif %}
</div>


<script>
"use strict"
$(function(){


var InstallButton = function(){
    var that = this
    this.deferred_prompt = null
    this.$element = $(".install-button")
    this.$button = this.$element.find(".pwa-install-button")

    this.$button.click(function(){
        if (!that.deferred_prompt){
            return null
        }
        that.deferred_prompt.prompt()
        that.deferred_prompt = null
    })

    window.addEventListener("appinstalled", function(){
        window.location.href = "{{ manifest.start_url }}"
    })

    window.addEventListener('beforeinstallprompt', function(e){
        e.preventDefault()
        that.deferred_prompt = e
    })

}


new InstallButton()


})
</script>
