{% if is_auto_install_browser %}

    {% block button %}
        <button class="pwa-install-button">{{ install_button_text }}</button>
    {% endblock %}

{% else %}

    {% block no_auto_install %}
        <div class="no-auto-install-message">{{ no_auto_install_message }}</div>
    {% endblock %}

{% endif %}


<script>
"use strict"
$(function(){


window.addEventListener("appinstalled", function(){
    window.location.href = "{{ manifest.start_url }}"
})

var deferred_prompt = null

window.addEventListener('beforeinstallprompt', function(e){
    e.preventDefault()
    deferred_prompt = e
})

$(".pwa-install-button").click(function(){
    if (!deferred_prompt){
        return null
    }
    deferred_prompt.prompt()
    deferred_prompt = null
})


})
</script>
