<script>
"use_strict"

function generate_uuid() { // Public Domain/MIT
    var d = new Date().getTime();//Timestamp
    var d2 = (performance && performance.now && (performance.now()*1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16;//random number between 0 and 16
        if(d > 0){//Use timestamp until depleted
            r = (d + r)%16 | 0;
            d = Math.floor(d/16);
        } else {//Use microseconds since page-load if supported
            r = (d2 + r)%16 | 0;
            d2 = Math.floor(d2/16);
        }
        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
    });
}


$(function(){
    var device_id_name = "kb_device_id"

    if (!Cookies.enabled){
        return
        }

    // Try to get the id from cookies
    var cookie_id = Cookies.get(device_id_name)
    // Try to get the id from local storage
    var storage_id = localStorage.getItem(device_id_name)

    if (!storage_id){
        // Generate a new id
        storage_id = generate_uuid()
        // Set the local storage
        localStorage.setItem(device_id_name, storage_id)
        }

    if (storage_id !== cookie_id){
        // Set the cookie id
        Cookies.set(device_id_name, storage_id)
        window.location.reload()
        }
    })
</script>
